---
import Section from "../Section.astro";

import HTML5 from "@/icons/html.astro";
import CSS3 from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Kotlin from "@/icons/kotlin.astro";
import Flutter from "@/icons/flutter.astro";
import Python from "@/icons/Python.astro";
import C from "@/icons/c.astro";
import astro from "@/icons/astro.astro";
import Angular from "@/icons/angular.astro";
import Express from "@/icons/express.astro";
import Flask from "@/icons/flask.astro";
import Springboot from "@/icons/springboot.astro";
import Postgre from "@/icons/postgre.astro";
import Mongo from "@/icons/mongo.astro";
import AWS from "@/icons/aws.astro";
import Docker from "@/icons/docker.astro";
import GitLab from "@/icons/gitlab.astro";

import { skills } from "@cv";

const SKILLS_ICONS: Record<string, any> = {
  HTML5,
  CSS3,
  JavaScript,
  TypeScript,
  React,
  "Node.js": Node,
  MySQL,
  Git,
  GitHub,
  Next,
  "Tailwind CSS": Tailwind,
  Swift,
  SwiftUI,
  Kotlin,
  Flutter,
  Python,
  C,
  Astro: astro,
  Angular,
  Express,
  Flask,
  "Spring Boot": Springboot,
  PostgreSQL: Postgre,
  MongoDB: Mongo,
  AWS,
  Docker,
  GitLab,
};
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name, keywords }) => {
        return (
          <li>
            <h3>{name}</h3>
            <ul>
              {keywords.map((skill) => {
                const Icon = SKILLS_ICONS[skill];
                return (
                  <li class="skill">
                    {Icon && <Icon />}
                    <span>{skill}</span>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  h3 {
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  .skill {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
